<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>Filter.FilterLogin</filter-class>
    </filter>
    <filter>
        <filter-name>NoChangeId</filter-name>
        <filter-class>Filter.NoChangeId</filter-class>
    </filter>
    <filter>
        <filter-name>FilterGroup</filter-name>
        <filter-class>Filter.FilterGroup</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>Home2</servlet-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>AdminSetting</servlet-name>
        <servlet-name>MyGroups</servlet-name>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-name>UserSettings</servlet-name>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-name>ModSetting</servlet-name>
        <servlet-name>CreaGruppo</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoChangeId</filter-name>
        <servlet-name>Home2</servlet-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>AdminSetting</servlet-name>
        <servlet-name>MyGroups</servlet-name>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-name>UserSettings</servlet-name>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-name>ModSetting</servlet-name>
        <servlet-name>CreaGruppo</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterGroup</filter-name>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-name>AdminSetting</servlet-name>
    </filter-mapping>
    <listener>
        <description>WebappContextListener</description>
        <listener-class>listener.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>DB.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home2</servlet-name>
        <servlet-class>Servlet.Homelogged</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyGroups</servlet-name>
        <servlet-class>Servlet.MyGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>Servlet.CreateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteAccepted</servlet-name>
        <servlet-class>Servlet.InviteAccepted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteRefused</servlet-name>
        <servlet-class>Servlet.InviteRefused</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSetting</servlet-name>
        <servlet-class>Servlet.AdminSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>Servlet.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPost</servlet-name>
        <servlet-class>Servlet.InsertPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename</servlet-name>
        <servlet-class>Servlet.Rename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroup</servlet-name>
        <servlet-class>Servlet.ViewGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteUser</servlet-name>
        <servlet-class>Servlet.InviteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>Servlet.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Servlet.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoLoggedEntry</servlet-name>
        <servlet-class>Servlet.NoLoggedEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeGroup</servlet-name>
        <servlet-class>Servlet.ChangeGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>Servlet.UploadAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperoPassword</servlet-name>
        <servlet-class>Servlet.RecuperoPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordMail</servlet-name>
        <servlet-class>Servlet.ChangePasswordMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettings</servlet-name>
        <servlet-class>Servlet.UserSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppo</servlet-name>
        <servlet-class>Servlet.CreaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModSettin</servlet-name>
        <servlet-class>Servlet.ModSettin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseGroup</servlet-name>
        <servlet-class>Servlet.CloseGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModSetting</servlet-name>
        <servlet-class>Servlet.ModSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaQR</servlet-name>
        <servlet-class>Servlet.CreaQR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home2</servlet-name>
        <url-pattern>/Home2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyGroups</servlet-name>
        <url-pattern>/MyGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteAccepted</servlet-name>
        <url-pattern>/InviteAccepted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteRefused</servlet-name>
        <url-pattern>/InviteRefused</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSetting</servlet-name>
        <url-pattern>/AdminSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPost</servlet-name>
        <url-pattern>/InsertPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename</servlet-name>
        <url-pattern>/Rename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroup</servlet-name>
        <url-pattern>/ViewGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteUser</servlet-name>
        <url-pattern>/InviteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoLoggedEntry</servlet-name>
        <url-pattern>/NoLoggedEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeGroup</servlet-name>
        <url-pattern>/ChangeGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/UploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperoPassword</servlet-name>
        <url-pattern>/RecuperoPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordMail</servlet-name>
        <url-pattern>/ChangePasswordMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettings</servlet-name>
        <url-pattern>/UserSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppo</servlet-name>
        <url-pattern>/CreaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModSettin</servlet-name>
        <url-pattern>/ModSettin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseGroup</servlet-name>
        <url-pattern>/CloseGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModSetting</servlet-name>
        <url-pattern>/ModSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaQR</servlet-name>
        <url-pattern>/CreaQR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
